:root {
    --basic-black:#000000;
    --basic-gray: #727272;
    --light-gray: #EEEFF1;
    --basic-blue: #34547A;
    --basic-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 79px;
    color: var(--basic-gray);
}

body {
    margin: 0;
}

.section {
    font-weight: 500;
    font-size: 32 px;
    line-height: 37px;
    color: var(--basic-black);

}

/* -------header---------- */
.main-header {
    background-color: var(--light-gray);
}
.main-logo {
    font-family: 'Revalia', cursive;
    font-size: 48px;
    line-height: 60px;
    color: var(--basic-blue);
    text-decoration: dashed;
}

.main-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav-link {
    text-decoration: none;
    color: var(--basic-black);
}

/* -------!header------ */

/* --------promo-------- */
.promo {
    background-color: var(--light-gray);
}
.promo-title {
    font-size: 48px;
    line-height: 79px;
    color: var(--basic-black);
}
.contact-button {
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    color: var(--basic-white);
}
/*-----------!promo---------*/

/*-----------myadvantages--------*/
.my-advantages {
    background-color: var(--basic-blue);
}
.project-list {
    color: var(--basic-white);
}
.project-quantity {
    font-size: 21px;
    line-height: 25px;
}
.advantage1 {
    list-style-type: none;
}
/*-----------!myadvantages---------*/

/*------------myskills-------------*/
.my-skills {
    list-style-type: none;
}
/*-----------!myskills------------*/

/*-----------workprocess-----------*/
.work-process {
    background-color: var(--light-gray);
}
/*-----------!workprocess---------*/

/*-----------galary---------------*/
.galary {
    list-style-type: none;
}
/*-----------!galary--------------*/

/*-----------ourclients-----------*/
.ourclients {
    list-style-type: none;
}
/*-----------!ourclients----------*/

/*-----------orderform------------*/
.orderwebsite {
    background-color: var(--light-gray);
}
/*-----------!orderform-----------*/

/*-----------footer---------------*/
.contact-info {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}
.sm-icon {
    list-style-type: none;
}
/*-----------!footer--------------*/



